<div id='container' ng-controller="ShortenController">
  <div class="navigation">
    <ul>
      <li><a href="#/links" class="index">All Links</a></li>
      <li><a href="#" class="create selected">Shorten</a></li>
      <li><a href="javascript:void(0)" class="logout" ng-click="signout()">Logout</a></li>
    </ul>
  </div>
  <form name="myForm" >
    <input type="text" name="valid" ng-model="newLink" ng-pattern="validUrl" required>
    <br>
  <span ng-show = "myForm.valid.$error.pattern">Please Enter a Valid URL</span>
  </form>
  <button ng-click="addLink(newLink)">Submit</button>
</div>


