<div id='container' ng-controller="BeersController">
  <div id="BeersContainer">
    <div class="navigation">
      <ul>
        <li><a href="#/beers" class="index selected">Select Beers</a></li>
        <li><a href="#/about" class="create">About Beer</a></li>
        <li><a href="#/myLists" class="selected">My Lists</a></li>
        <li><a href="javascript:void(0)" class="logout" ng-click="signout()">Logout</a></li>
      </ul>
    </div>
    <br><br> 
    <div class="prompt">Create a selection of beers based on type, brand, region, and more! </div>
    <br>
    <div class="description">From the drop-down menu below, choose a category to see a selection of beer. <br> You can additionally type in a search to see any matches from the current list.</div>
    <br>
    <div class="row">
      <select name="Select1" class="col-md-3" ng-model="beerCat" ng-change="getSelect1(beerCat)">
        <option value="">Select a category...</option>
        <option ng-repeat="cat in selection1" value="{{cat.path}}">{{cat.name}}</option>
        <option value="/category">Type</option>
        <option value="/location/region">Region</option>
      </select>
      <select name="Select2" class="col-md-3 dropdown2">
        <!-- <div ng-repeat="product in products"> -->
        <option ng-repeat="cat in selection2" value="{{cat.path}}">{{cat.name}}</option>
        <option value="/category">Type</option>
        <option value="/location/region">Region</option>
      </select>
      <pre> cat1 is : {{beerCat}}
      cat2 is  : {{selection2}}
      </pre>
    </div>

  </div>
</div>
