<div id='container' ng-controller="BeersController">
  <div id="BeersContainer">
    <div class="navigation">
      <ul>
        <li><a href="#/beers" class="index selected">Select Beers</a></li>
        <li><a href="#/about" class="create">About Beer</a></li>
        <li><a href="#/myLists">My Lists</a></li>
        <li><a href="javascript:void(0)" class="logout" ng-click="signout()">Logout</a></li>
      </ul>
    </div>
    <br><br> 
    <div class="prompt">Create a selection of beers based on type, brand, region, and more! </div>
    <br>
    <div class="description">From the drop-down menu below, choose a category to see a selection of beer. <br> You can additionally type in a search to see any matches from the current list.</div>
    <br>
    <div class="row">
      <select name="Select1" class="col-md-3" ng-model="beerCat" ng-change="getSelect1(beerCat)">
        <option value="">Select a category...</option>
        <option ng-repeat="cat in selection1" value="{{cat.path}}">{{cat.name}}</option>
      </select>

       <select name="Select2" class="col-md-3 dropdown2" ng-model="choice2" ng-change="getSelectedList(beerCat, choice2)">
        <option value="">Sort by...</option>
        <option ng-repeat="cat in selection2" value="{{cat.id}}">{{cat.name}}</option>
      </select>
    </div>
    <br> <br>
    <div class="displayResults row">
      <div class="beerDescription col-md-5">
        <span style= "font-weight: bolder; font-size: 1.2em ">About your selection:</span>
        <br>  
        {{describe}}
      </div>
      <div class="beerList col-md-6">
        <span style= "font-weight: bolder; font-size: 1.2em"> Results of your selections: </span>
        <ul style="list-style: none">
          <li ng-repeat="beer in selectedList">
            <span class="beerName" style= "font-weight: bolder; color: brown"> name: {{beer.name}} 
              <img src="../../assets/gift.png" style="width: 10px; height: 10px" ng-click="addWish(beer.name)"></img>
              <img src="../../assets/heart-small.png" style="width: 20px; height: 20px" ng-click="addFav(beer.name)"></img>
            </span> <br>
            <span class="beerDiscrip" style= "font-weight: bold; padding-left:2em">Alcohol Content: </span>{{beer.abv}}% <br>
            <span class="beerDiscrip" style= "font-weight: bold; padding-left:2em"> Availability: </span> {{beer.available.description}}% 

          </li>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

</div>
