<div id='container' ng-controller="AboutController">
  <div id="AboutContainer">
    <div class="prompt">Learn all about the different types of beers across the world.
    </div>
    Beer style is a term used to differentiate and categorize beers by factors such as flavor, strength, ingredients, production method or origin. The flavor includes the degree of bitterness of a beer due to bittering agents such as hops, roasted barley, or herbs; it also includes the sweetness from the sugar present in the beer.
    <div class="description">
    </div>
    <!-- <input type='text' ng-model='search ' placeholder='filter' />
    <div class="links">
    </br>
      <div ng-repeat="entry in data.links | filter:search | orderBy: '-visits'">
      </br>
        <div class="link">
          <img src="../../../assets/redirect_icon.png">
          <div class="visits"><span class="count"></span>{{entry.visits}}</div>
          <div class="title">{{entry.title}}</div>
          <div class="original">{{entry.url}}</div>
            <a ng-href="{{entry.base_url}}/{{entry.code}}">{{entry.base_url}}/{{entry.code}}</a> -->

        <!-- <img src="../../../assets/redirect_icon.png">
        <div class="info">
          <div ng-repeat="entry in data"
            <div class="visits"><span class="count">2</span>{{entry.visits}}</div>
            <div class="title">xkcd: Hot Dogs</div>
            <div class="original">http://www.xkcd.com</div>
            <a href="http://localhost:4568/55ef2">http://localhost:4568/55ef2</a>
         --><!-- </div>
      </div>
    </div> -->

  </div>
</div>
