<div id='container' ng-controller="LinksController">
  <div class="navigation">
    <ul>
      <li><a href="#" class="index selected">All Links</a></li>
      <li><a href="#/shorten" class="create">Shorten</a></li>
      <li><a href="javascript:void(0)" class="logout" ng-click="signout()">Logout</a></li>
    </ul>
  </div>

  <div id="linksContainer">
    <input type='text' ng-model='search ' placeholder='filter' />
    <div class="links">
    </br>
      <div ng-repeat="entry in data.links | filter:search | orderBy: '-visits'">
      </br>
        <div class="link">
          <img src="../../../assets/redirect_icon.png">
          <div class="visits"><span class="count"></span>{{entry.visits}}</div>
          <div class="title">{{entry.title}}</div>
          <div class="original">{{entry.url}}</div>
            <a ng-href="{{entry.base_url}}/{{entry.code}}">{{entry.base_url}}/{{entry.code}}</a>

        <!-- <img src="../../../assets/redirect_icon.png">
        <div class="info">
          <div ng-repeat="entry in data"
            <div class="visits"><span class="count">2</span>{{entry.visits}}</div>
            <div class="title">xkcd: Hot Dogs</div>
            <div class="original">http://www.xkcd.com</div>
            <a href="http://localhost:4568/55ef2">http://localhost:4568/55ef2</a>
         --><!-- </div> -->
      </div>
    </div>

  </div>
</div>
