<div id='container' ng-controller="AboutController">
  <div id="AboutContainer">
    <div class="navigation">
      <ul>
        <li><a href="#/beers" class="index">Select Beers</a></li>
        <li><a href="#/about" class="">About Beer</a></li>
        <li><a href="#/myLists" class="selected">My Lists</a></li>
        <li><a href="javascript:void(0)" class="logout" ng-click="signout()">Logout</a></li>
      </ul>
    </div>
    <br> <br> <br> 
    <div class="row" style="font-size: 1.4em; color:black; font-weight: bold">
    <div class= "col-md-1"></div>
    <div class="col-md-5">
    My Wishlist
      <ul>
        <li ng-repeat="beer in data.wishlist" style="font-size: 1em; font-weight: normal; color: #222333">
        {{beer}}
        </li>
      </ul>
    </div>
    <div class="col-md-5">
    My Favorites
      <ul>
        <li ng-repeat="beer in data.favorites" style="font-size: 1em; font-weight: normal; color: #222333"> 
        {{beer}}
        </li>
      </ul>
    </div>
    <div class= "col-md-1"></div>
    </div>
  </div>
</div>
