<div id='signin'>
	<br>
  <h2 style="color: #eeeeee; font-family: Verdana; font-weight: bolder">Sign In</h1>
  <div><b> {{errormsg}} </b><div>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username' style='border-radius: 8px;'> USERNAME
    <input type="password" ng-model='user.password' style='border-radius: 8px;'> PASSWORD
    <button>Sign In</button>
  </form>
  <a href="#/signup" style="background: transparent">Don't have an account? <strong>Sign up</strong> ...</a>
</div>
